<web-app>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>controllers.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit</servlet-name>
    <servlet-class>controllers.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>controllers.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddPanier</servlet-name>
    <servlet-class>controllers.AddPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPanier</servlet-name>
    <url-pattern>/AddPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAccount</servlet-name>
    <servlet-class>controllers.DeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccount</servlet-name>
    <url-pattern>/DeleteAccount</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Cart</servlet-name>
    <servlet-class>controllers.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ModifyPanier</servlet-name>
    <servlet-class>controllers.ModifyPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPanier</servlet-name>
    <url-pattern>/ModifyPanier</url-pattern>
  </servlet-mapping>
</web-app>
